:root {
	--size-auto: auto;
	--size-0: 0;
	--size-005: 0.05em;
	--size-01: 0.1em;
	--size-025: 0.25em;
	--size-05: 0.5em;
	--size-1: 1em;
	--size-15: 1.5em;
	--size-2: 2em;
	--size-25: 2.5em;
	--size-3: 3em;
	--size-35: 3.5em;
	--size-4: 4em;
	--size-45: 4.5em;
	--size-5: 5em;
	--size-55: 5.5em;
	--size-6: 6em;
	--size-65: 6.5em;
	--size-7: 7em;
	--size-75: 7.5em;
	--size-8: 8em;
	--size-85: 8.5em;
	--size-9: 9em;
	--size-95: 9.5em;
	--size-10: 10em;

	--spacer-auto: auto;
	--spacer-0: 0;
	--spacer-010: 0.1em;
	--spacer-015: 0.15em;
	--spacer-020: 0.2em;
	--spacer-025: 0.25em;
	--spacer-030: 0.3em;
	--spacer-035: 0.35em;
	--spacer-040: 0.4em;
	--spacer-045: 0.45em;
	--spacer-050: 0.5em;
	--spacer-055: 0.55em;
	--spacer-060: 0.6em;
	--spacer-065: 0.65em;
	--spacer-070: 0.7em;
	--spacer-075: 0.75em;
	--spacer-080: 0.8em;
	--spacer-085: 0.85em;
	--spacer-090: 0.9em;
	--spacer-095: 0.95em;
	--spacer-100: 1em;
	--spacer-105: 1.05em;
	--spacer-110: 1.1em;
	--spacer-115: 1.15em;
	--spacer-120: 1.2em;
	--spacer-125: 1.25em;
	--spacer-130: 1.3em;
	--spacer-135: 1.35em;
	--spacer-140: 1.4em;
	--spacer-145: 1.45em;
	--spacer-150: 1.5em;
	--spacer-155: 1.55em;
	--spacer-160: 1.6em;
	--spacer-165: 1.65em;
	--spacer-170: 1.7em;
	--spacer-175: 1.75em;
	--spacer-180: 1.8em;
	--spacer-185: 1.85em;
	--spacer-190: 1.9em;
	--spacer-195: 1.95em;
	--spacer-200: 2em;
	--spacer-205: 2.05em;
	--spacer-210: 2.1em;
	--spacer-215: 2.15em;
	--spacer-220: 2.2em;
	--spacer-225: 2.25em;
	--spacer-230: 2.3em;
	--spacer-235: 2.35em;
	--spacer-240: 2.4em;
	--spacer-245: 2.45em;
	--spacer-250: 2.5em;
	--spacer-255: 2.55em;
	--spacer-260: 2.6em;
	--spacer-265: 2.65em;
	--spacer-270: 2.7em;
	--spacer-275: 2.75em;
	--spacer-280: 2.8em;
	--spacer-285: 2.85em;
	--spacer-290: 2.9em;
	--spacer-295: 2.95em;
	--spacer-300: 3em;
	--spacer-305: 3.05em;
	--spacer-310: 3.1em;
	--spacer-315: 3.15em;
	--spacer-320: 3.2em;
	--spacer-325: 3.25em;
	--spacer-330: 3.3em;
	--spacer-335: 3.35em;
	--spacer-340: 3.4em;
	--spacer-345: 3.45em;
	--spacer-350: 3.5em;
	--spacer-355: 3.55em;
	--spacer-360: 3.6em;
	--spacer-365: 3.65em;
	--spacer-370: 3.7em;
	--spacer-375: 3.75em;
	--spacer-380: 3.8em;
	--spacer-385: 3.85em;
	--spacer-390: 3.9em;
	--spacer-395: 3.95em;
	--spacer-400: 4em;
	--spacer-405: 4.05em;
	--spacer-410: 4.1em;
	--spacer-415: 4.15em;
	--spacer-420: 4.2em;
	--spacer-425: 4.25em;
	--spacer-430: 4.3em;
	--spacer-435: 4.35em;
	--spacer-440: 4.4em;
	--spacer-445: 4.45em;
	--spacer-450: 4.5em;
	--spacer-455: 4.55em;
	--spacer-460: 4.6em;
	--spacer-465: 4.65em;
	--spacer-470: 4.7em;
	--spacer-475: 4.75em;
	--spacer-480: 4.8em;
	--spacer-485: 4.85em;
	--spacer-490: 4.9em;
	--spacer-495: 4.95em;
	--spacer-500: 5em;
	--spacer-1000: 10em;

	--border-size-0: 0;
	--border-size-05: 0.5px;
	--border-size-1: 1px;
	--border-size-15: 1.5px;
	--border-size-2: 2px;
	--border-size-25: 2.5px;
	--border-size-3: 3px;
	--border-size-35: 3.5px;
	--border-size-4: 4px;
	--border-size-45: 4.5px;

	--border-radius-0: 0;
	--border-radius-05: 0.5px;
	--border-radius-1: 1px;
	--border-radius-15: 1.5px;
	--border-radius-2: 2px;
	--border-radius-25: 2.5px;
	--border-radius-3: 3px;
	--border-radius-35: 3.5px;
	--border-radius-4: 4px;
	--border-radius-45: 4.5px;
	--border-radius-5: 5px;
	--border-radius-55: 5.5px;
	--border-radius-6: 6px;
	--border-radius-65: 6.5px;
	--border-radius-7: 7px;
	--border-radius-75: 7.5px;
	--border-radius-8: 8px;
	--border-radius-85: 8.5px;
	--border-radius-9: 9px;
	--border-radius-95: 9.5px;
	--border-radius-10: 10px;
	--border-radius-round: 50%;

	--opacity-0: 0;
	--opacity-05: 0.5;
	--opacity-1: 1;

	--animation-time-0: 0ms;
	--animation-time-150: 150ms;
	--animation-time-200: 200ms;
	--animation-time-250: 250ms;
	--animation-time-300: 300ms;
	--animation-time-350: 350ms;
	--animation-time-400: 400ms;
	--animation-time-450: 450ms;
	--animation-time-500: 500ms;
	--animation-time-5000: 5000ms;
	--animation-time-15000: 15000ms;

	--animation-delay-0: 0ms;
	--animation-delay-150: 150ms;
	--animation-delay-200: 200ms;
	--animation-delay-250: 250ms;
	--animation-delay-300: 300ms;
	--animation-delay-350: 350ms;
	--animation-delay-400: 400ms;
	--animation-delay-450: 450ms;
	--animation-delay-500: 500ms;
	--animation-delay-1000: 1000ms;

	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;
	--layer-4: 4;
	--layer-5: 5;
	--layer-6: 6;
	--layer-7: 7;
	--layer-8: 8;
	--layer-9: 9;
	--layer-10: 10;

	--ratio-square: 1;
	--ratio-landscape: 4/3;
	--ratio-portrait: 3/4;
	--ratio-widescreen: 16/9;
	--ratio-ultrawide: 18/5;
}
